<app-header></app-header>
<div class="container">

    <div class="margin-table">
      <div class="row">
      <mat-form-field class="widthBox">
        <mat-select placeholder="Group" (selectionChange)="onChange($event)">
          <ng-container *ngFor="let group of service.groups">
            <mat-option value="{{group.value}}">{{group.value}}</mat-option>
        </ng-container>
        </mat-select>
      </mat-form-field>

    <mat-form-field class="widthText">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>

  </mat-form-field>
</div>
  <div class="example-container mat-elevation-z8">
    <mat-table mat-table [dataSource]="dataSource" matSort>
  

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="username">
        <mat-header-cell  *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
      </ng-container>
  

      <ng-container matColumnDef="firstName">
        <mat-header-cell  *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
      </ng-container>
  
    
      <ng-container matColumnDef="lastName">
        <mat-header-cell  *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell  *matCellDef="let row"> {{row.lastName}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <mat-header-cell  *matHeaderCellDef mat-sort-header> Email</mat-header-cell>
        <mat-cell  *matCellDef="let row"> {{row.email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="birthDate">
        <mat-header-cell  *matHeaderCellDef mat-sort-header> Birth Date </mat-header-cell>
        <mat-cell  *matCellDef="let row"> {{row.birthDate | date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="basicSalary">
        <mat-header-cell  *matHeaderCellDef mat-sort-header> Basic Salary </mat-header-cell>
        <mat-cell  *matCellDef="let row"> {{row.basicSalary | currency:'Rp'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell  *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell  *matCellDef="let row"> {{row.status}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="group">
        <mat-header-cell  *matHeaderCellDef mat-sort-header> Group </mat-header-cell>
        <mat-cell  *matCellDef="let row"> {{row.group}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          
          <button mat-icon-button color="primary" (click)="navigates(row)">
          <mat-icon>details</mat-icon>
          
        </button> 
        <button mat-icon-button class="yel" color="yellow" (click)="edit()">
          <mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="warn" (click)="delete()">
            <mat-icon>delete</mat-icon></button></mat-cell>
        
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
      <!-- Row shown when there is no matching data. -->
      <mat-header-row class="mat-row" *matNoDataRow>
        <mat-row colspan="4">No data matching the filter "{{input.value}}"</mat-row>
      </mat-header-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of employee"></mat-paginator>
  </div>
</div>
</div>